.ipynb_checkpoints
.vscode
.Rhistory
.DS_Store
*.code-workspace

# copyright
*.csv
refs

# containing student id
*2017-*

# KorBERT
KorBERT_NSMC/data
KorBERT_NSMC/bert_eojeol_pytorch
KorBERT_NSMC/model
KorBERT_NSMC/aisolab